body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 200px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: #0077ff;
    border: 2px solid green;
    border-radius: 10px;
}